body, html {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    perspective: 2px;
    transform-style: preserve-3d; 
}

.secao {
    margin: 50px;
    position: relative;
    height: 100vh;
    min-height: 700px;
    transform-style: inherit;
}

.secao::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    z-index: -10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(-1px)scale(1.5);
}

.conteudo {
    position: absolute;
    top: 19%;
    width: 89%;
    padding: 30px ; 
    background-color: rgba(96, 34, 116, 0.9);
    color: rgb(221, 216, 216);
    font-size: 20px;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 4px 4px 4px #43187c;
}

.conteudo2 {
    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px ; 
    background-color: rgba(36, 27, 36, 0.9);
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 3px 3px #2f125e;
}
 
.fundo1::before{
    background-image: url(/img/iri.jpg);

}


.fundo3::before{
    background-image: url(/img/iri111.jpg);
}

.iri{
    padding-left: 600px;
    font-size: 40px;
    color: #fce0e0;
    
}



